.cards-movies__container {
    max-width: 1140px;
    padding: 80px 0 60px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.cards-movies__list {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 38px 20px;
    grid-template-columns:  repeat(4, 1fr);
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .cards-movies__container {
        max-width: 708px;
    }
    .cards-movies__list {
        display: grid;
        gap: 30px 30px;
        grid-template-columns:  repeat(2, 1fr);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    .cards-movies__container {
        max-width: 320px;
        padding: 50px 10px 60px 10px;
    }
    .cards-movies__list {
        grid-template-columns:  1fr;
        gap: 34px;
    }
    
    }