 .profile__container {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    margin: 0 auto;
    padding: 74px 10px 70px 10px;
    box-sizing: border-box;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    margin: 0;
}

.profile__form {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}

.profile__btn {
    border: none;
    background: none;
    cursor: pointer;
    
}

.profile__btn-edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    margin-top: 220px;
}

.profile__btn-edit:disabled{
    opacity: 0.9;
}


.profile__exit{
    color: #EE3465;
}
.profile__btn-exit {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    margin-top: 16px;
    text-decoration: none;
    align-self: center;
    
}

.profile__wrapper-input {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
}

.profile__wrapper-input:first-of-type {
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    
}

.profile__wrapper-input:last-of-type {
    padding-top: 17px;
}

.profile__label {
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
}

.profile__input {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    border: none;
    border-radius: 4px;
    text-align: end;
}

.profile__input:focus {
    outline: 1px solid #E8E8E8;
}

@media screen and (max-width: 1023px) {
    .profile__form {
        margin-top: 96px;
    } 

    .profile__btn-edit { 
        margin-top: 210px;
    }
}

@media screen and (max-width: 767px) {
    .profile__container {     
        padding: 70px 10px 40px 10px;
    }
    .profile__form {
        margin-top: 80px ;
    }
}