  .close-btn {
      background: url('../../images/close-btn.svg') no-repeat center;
      width: 22px;
      height: 22px;
      border: none;
      position: absolute;
      right: 22.44px;
      top: 22.44px;
      cursor: pointer;
  }

  .popup-opened{
    display: flex;
  }

  .popup-menu {
    background-color: white;
    display: flex;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      width: 520px;
      border: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0;
  }

  .popup-menu__item {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.78px;
      margin-bottom: 28px;
      text-decoration: none;
      color: black;
  }
  .active {
    text-decoration: underline;
}

  .popup-menu__item:last-of-type {
      margin: 0;
  }

  .popup-menu__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
  }

  .popup-menu__btn {
      width: 100px;
      height: 32px;
      background-color: #F9F9F9;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      margin-top: 621px;
  }

  .popup-menu__wrapper {
      max-width: 340px;
      margin: 159px 0 90px 0;
  }

  .popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 0.5s, opacity 0.5s linear;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    .popup-menu {
          width: 320px; 
      }

      .popup-menu__wrapper {
        margin: 144px 0 46px 0;
    }
    }