.popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;

}

.popup__info-image {
    max-height: 120px;
    max-width: 120px;
    margin: 0 auto;
    margin-top: 26px;
}

.popup__container {
    background: #FFFFFF;
    width: 430px;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.popup__btn-close {
    position: absolute;
    border: none;
    top: -40px;
    right: -40px;
    background: url('../../images/close-icon.svg');
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__info-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    text-align: center;
    margin: 32px 0  23px 0;
}

.popup__btn-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .popup__btn-close {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }

    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
        box-sizing: content-box;
    }
 }
