
.navigation__burger {
    display: none;
    background-image: url('../../images/burger-menu.svg');
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 1279px) {
    .wrapper {
        display: none;
    }

    .navigation__burger {
        display: block;
    }
}